body{
    margin: 30px;
    padding-right: 300px;
    background-color: rgb(195, 240, 241);
}
label{
    color: rgba(8, 15, 10, 0.986);
}
image{
    margin:20px;
    left:100px;
}

p{
    text-align: center;
    color: rgb(6, 23, 253);
}
